<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" />
    <link rel="stylesheet" href="/css/style.css" >
    <title>Translator App</title>
</head>
<body>

  <div class="main-content">
      <p>Use this site to get your weather</p>
      <form>
          <input placeholder="Location" type="text">
          <button>Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>

  </div>
    <script src="/js/app.js"></script>
</body>
</html>